/* 基本样式 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Staatliches', sans-serif;  /* 使用 EVA 风格的字体 */
  background-color: black;
  color: white;
  line-height: 1.6;
}

/* 标题样式 */
h1 {
  text-align: center;
  font-size: 3rem;
  margin: 20px 0;
  color: #ff2a00;  /* EVA 红色 */
  text-shadow: 2px 2px 5px #fff;
}

/* 网格布局 */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 80%;
}

.module {
  background-color: #333;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  position: relative;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s, background-color 0.3s;
}

.module:hover {
  transform: scale(1.05);
  background-color: #ff2a00;
}

.module a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.module h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 0 10px #fff, 0 0 20px #ff2a00;
  letter-spacing: 3px;
}

/* 网站页脚 */
.site-footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .module {
    height: 200px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .module h2 {
    font-size: 2rem;
  }
}
